Package: ppa-launchpad-net-zumastor-team-ppa-ubuntu-dapper-main
Priority: extra
Section: repositories
Installed-Size: 1
Maintainer: chriswarbo@gmail.com
Architecture: all
Version: 20090603
Description: This package provides the ppa-launchpad-net-zumastor-team-ppa-ubuntu-dapper-main repository.
