Package: triviazus-com-venenux-vnzpacks-piccoro
Priority: extra
Section: repositories
Installed-Size: 1
Maintainer: chriswarbo@gmail.com
Architecture: all
Version: 20090602
Description: This package provides the triviazus-com-venenux-vnzpacks-piccoro repository.
